
header{
    width: 1000px;
    background-color: lightskyblue;
    border: 50px solidwithe;
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 50px;
    border-radius: 1px 1px 15px 15px;
    box-shadow: 0px 3px 5px gray;
}
.argentina {
    width:200px;
    height:100px;
}
.inti {
    width: 250px;
    height: 100px;
    text-align: center;
    
}
nav{
    margin-top: 50px;
    margin-right: 10px;
    position: relative;
    float:right;
    width: 130px;
    min-height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 1px 1px 10px 10px;
    box-shadow: 5px 3px 10px gray;
    padding: 5px;
    text-align: center;
    display: inline;
    
}
article {
    width: 1000px;
    min-height: 500px;
    background-color: rgb(165, 238, 165);
    border: 3px dashed whitesmoke;
    border-radius: 15px 0px 15px 0px brown;
    box-shadow: 0px 3px 5px grey;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 45px;
    text-align: justify;
}
article img {
    position:relative;
    float:left;
    margin-left: 10px;
    width: 180px;
    height: 160px;
}
article h1 {
    text-align: center;
    margin-top: 10px;
}
article p {
    text-align: justify;
    margin-left: 10px;
    font-style: oblique;
}
footer {
    width: 1000px;
    height: 20px;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 3px 50px black;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

img {
    width: 1px;
    height: 5px;
}
body{
    width: 1000px;
    background-color: rgb(243, 236, 224);
}
